@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "gilroy";
  src: url("/public/assets/fonts/gilroy/Gilroy-Black.ttf");
}
@font-face {
  font-family: "gilroy-regular";
  src: url("/public/assets/fonts/gilroy/Gilroy-Regular.ttf");
}
@font-face {
  font-family: "gilroy-medium";
  src: url("/public/assets/fonts/gilroy/Gilroy-Medium.ttf");
}

@font-face {
  font-family: "gilroy-semibold";
  src: url("/public/assets/fonts/gilroy/Gilroy-SemiBold.ttf");
}
@font-face {
  font-family: "gilroy-bold";
  src: url("/public/assets/fonts/gilroy/Gilroy-Bold.ttf");
}

:root {
  font-family: "gilroy", sans-serif;
}

.btn-outline {
  @apply px-[1.5rem] py-[0.6rem] border border-darkBlue flex items-center gap-2 rounded-full text-sm text-darkBlue font-medium mt-3 cursor-pointer hover:bg-darkBlue;
}

.btn-filled {
  @apply px-[1.5rem] py-[0.6rem]  bg-darkBlue flex items-center gap-2 rounded-full text-sm text-white font-medium mt-3 cursor-pointer;
}
